<div class="container">
    <div class="form-group">
        <h1><%= @pokemon.name %></h1>
        <p>Found on <%= @pokemon.address %> at <%= @pokemon.found_on %></p>
        <p>Type: <%= @pokemon.species %></p>

        <%= link_to 'Edit Pokemon', edit_pokemon_path(@pokemon) %>
        <%= link_to 'Delete Pokemon', pokemon_path(@pokemon), method: :delete %>
    </div>
</div>
